div.dotmailer-success{background:url(images/i_msg-success.png) no-repeat; padding:10px;}
div.dotmailer-error{background:url(images/i_msg-error.png) no-repeat;padding:10px; }

.ddg-rules-conditions { width: 160px; }
.ddg-config-daterange-wrapper {
    width: 200px;
    margin-bottom: 2px;
}
.ddg-config-daterange-wrapper p {
    width:45px !important;
    margin: 0 !important;
    display: inline-block;
    font-weight:bold;
}
.ddg-dashboard-table { width: 100%}
.ddg-dashboard-table td { width: 45%}
.ddg-edc-wrapper {
    width: 200px;
    height: auto;
    float: right
}
.ddg-edc-title {
    font-weight: bold;
    padding: 3px;
    font-size: 12px;
    text-align: center;
}
.ddg-edc-content {
    width: 200px;
    height: auto;
    border: solid 1px black;
    padding-top: 50px;
    padding-bottom: 50px;
}
.ddg-edc-content a img {
    width: 85px;
    height: 85px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ddg-edc-preview-coupon-title {
    margin-top: 20px;
    font-weight: bold;
    padding: 3px;
    font-size: 12px;
    text-align: center;
}
.ddg-edc-coupon-text {
    width: 200px;
    height: auto;
    border: solid 1px black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.ddg-edc-content div { text-align: center; }
.ddg-dynamic-content {
    cursor: pointer!important;
    background-color: #fff!important;
}
.ddg-tooltip{
    position:absolute;
    top:-15px;
    background-color:#333;
    color:#fff;
    padding:5px;
    border-radius:5px;
}
.ddg-disabled-button{
    cursor: not-allowed;
}