.page-content{ padding-bottom : 0; padding-left: 0; padding-right: 0;}
div.dotmailer-success{background:url(images/i_msg-success.png) no-repeat; padding:10px;}
div.dotmailer-error{background:url(images/i_msg-error.png) no-repeat;padding:10px; }
