div.dotmailer-success{background:url(images/i_msg-success.png) no-repeat; padding:10px;}
div.dotmailer-error{background:url(images/i_msg-error.png) no-repeat;padding:10px; }

.ddg-rules-conditions {
    width: 160px;
}
.ddg-config-daterange-wrapper {
    width: 200px;
    margin-bottom: 2px;
}
.ddg-config-daterange-wrapper p {
    width:45px !important;
    margin: 0 !important;
    display: inline-block;
    font-weight:bold;
}
.ddg-config-heading-comment {
    padding-left: 2.8rem;
}
.ddg-dashboard-container {
    padding: 20px;
}
.ddg-dashboard-table {
    width: 100%;
}
.ddg-dashboard-cell {
    width: 45%;
    vertical-align: top;
}
.ddg-dashboard-table th {
    text-align: left;
}
.ddg-edc-wrapper {
    width: 200px;
    height: auto;
    float: right
}
.ddg-edc-title {
    font-weight: bold;
    padding: 3px;
    font-size: 12px;
    text-align: center;
}
.ddg-edc-content {
    width: 200px;
    height: auto;
    border: solid 1px black;
    padding-top: 50px;
    padding-bottom: 50px;
}
.ddg-edc-content a img {
    width: 85px;
    height: 85px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ddg-edc-preview-coupon-title {
    margin-top: 20px;
    font-weight: bold;
    padding: 3px;
    font-size: 12px;
    text-align: center;
}
.ddg-edc-coupon-text {
    width: 200px;
    height: auto;
    border: solid 1px black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.ddg-edc-content div {
    text-align: center;
}
.ddg-dynamic-content {
    cursor: pointer!important;
    background-color: #fff !important;
    border-color: #adadad !important;
    color: #303030 !important;
    opacity: .5 !important;
}
.ddg-tooltip{
    position:absolute;
    top:-15px;
    background-color:#333;
    color:#fff;
    padding:5px;
    border-radius:5px;
}
.ddg-disabled-button{
    cursor: not-allowed;
}
.field-has-description + .addafter {
    display: block;
    padding-top: 5px;
    font-size: 1.2rem;
}
.message-system-short-label {
    margin-right: 15px;
}
.add-top-border {
    border-top-width: 1px;
}

.event-message-placeholder{
    text-align: center;
}

.dd-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.dd-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #d4137d;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.dd-ellipsis div:nth-child(1) {
    left: 8px;
    animation: dd-ellipsis1 0.6s infinite;
}
.dd-ellipsis div:nth-child(2) {
    left: 8px;
    animation: dd-ellipsis2 0.6s infinite;
}
.dd-ellipsis div:nth-child(3) {
    left: 32px;
    animation: dd-ellipsis2 0.6s infinite;
}
.dd-ellipsis div:nth-child(4) {
    left: 56px;
    animation: dd-ellipsis3 0.6s infinite;
}
@keyframes dd-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes dd-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes dd-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.ddg-account-details:before{
    display: block;
    content: ' ';
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    margin-top: -10px;
}

.ddg-connected:before {
    background-image: url('images/account-success.svg');
}

.ddg-disconnected:before {
    background-image: url('images/account-fail.svg');
}
