<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Dotdigitalgroup_Email::automation" title="Dotmailer Automation" sortOrder="10">
                        <resource id="Dotdigitalgroup_Email::automation_studio" title="Automation Studio" sortOrder="10"/>
                        <resource id="Dotdigitalgroup_Email::exclusion_rules" title="Exclusion Rules" sortOrder="20"/>
                    </resource>
                </resource>
                <resource id="Magento_Reports::report">
                    <resource id="Dotdigitalgroup_Email::reports" title="Dotmailer Email">
                        <resource id="Dotdigitalgroup_Email::contact" title="Dotmailer Contact" sortOrder="20"/>
                        <resource id="Dotdigitalgroup_Email::order" title="Dotmailer Order" sortOrder="30"/>
                        <resource id="Dotdigitalgroup_Email::review" title="Dotmailer Review" sortOrder="50"/>
                        <resource id="Dotdigitalgroup_Email::wishlist" title="Dotmailer Wishlist" sortOrder="60"/>
                        <resource id="Dotdigitalgroup_Email::catalog" title="Dotmailer Catalog" sortOrder="70"/>
                        <resource id="Dotdigitalgroup_Email::importer" title="Dotmailer Importer" sortOrder="80"/>
                        <resource id="Dotdigitalgroup_Email::campaign" title="Dotmailer Campaign" sortOrder="90"/>
                        <resource id="Dotdigitalgroup_Email::cron" title="Dotmailer Cron" sortOrder="100"/>
                        <resource id="Dotdigitalgroup_Email::dashboard" title="Dotmailer Dashboard" sortOrder="110"/>
                        <resource id="Dotdigitalgroup_Email::automation_enrollment" title="Dotmailer Enrollment Automation" sortOrder="120"/>
                        <resource id="Dotdigitalgroup_Email::logviewer" title="Dotmailer Log Viewer" sortOrder="130"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Dotdigitalgroup_Email::config" title="DOTMAILER"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
