<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <connector_api_credentials>
            <api>
                <enabled>0</enabled>
                <username></username>
                <password backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
            </api>
        </connector_api_credentials>
        <sync_settings>
            <addressbook>
                <allow_non_subscribers>0</allow_non_subscribers>
                <customers>0</customers>
                <subscribers>0</subscribers>
                <guests>0</guests>
            </addressbook>
            <sync>
                <contact_enabled>0</contact_enabled>
                <guest_enabled>0</guest_enabled>
                <subscriber_enabled>0</subscriber_enabled>
                <order_enabled>0</order_enabled>
                <wishlist_enabled>0</wishlist_enabled>
                <review_enabled>0</review_enabled>
                <catalog_enabled>0</catalog_enabled>
            </sync>
            <dynamic_addressbook>
                <addressbook_name></addressbook_name>
                <visibility></visibility>
            </dynamic_addressbook>
        </sync_settings>
        <abandoned_carts>
            <customers>
                <enabled_1>0</enabled_1>
                <send_after_1></send_after_1>
                <campaign_1></campaign_1>
                <enabled_2>0</enabled_2>
                <send_after_2></send_after_2>
                <campaign_2></campaign_2>
                <enabled_3>0</enabled_3>
                <send_after_3></send_after_3>
                <campaign_3></campaign_3>
            </customers>
            <guests>
                <enabled_1>0</enabled_1>
                <send_after_1></send_after_1>
                <campaign_1></campaign_1>
                <enabled_2>0</enabled_2>
                <send_after_2></send_after_2>
                <campaign_2></campaign_2>
                <enabled_3>0</enabled_3>
                <send_after_3></send_after_3>
                <campaign_3></campaign_3>
            </guests>
        </abandoned_carts>
        <connector_automation>
            <visitor_automation>
                <customer_automation>0</customer_automation>
                <subscriber_automation>0</subscriber_automation>
                <order_automation>0</order_automation>
                <guest_order_automation>0</guest_order_automation>
                <review_automation>0</review_automation>
                <wishlist_automation>0</wishlist_automation>
                <first_order_automation>0</first_order_automation>
            </visitor_automation>
            <order_status_automation>
                <status_to_automation></status_to_automation>
            </order_status_automation>
            <review_settings>
                <enabled>0</enabled>
                <status></status>
                <delay></delay>
                <new_product></new_product>
                <campaign></campaign>
                <anchor></anchor>
                <allow_non_subscribers>0</allow_non_subscribers>
            </review_settings>
            <feefo_feedback_engine>
                <logon></logon>
                <reviews_per_product></reviews_per_product>
                <template></template>
                <service_score_url></service_score_url>
                <product_reviews_url></product_reviews_url>
            </feefo_feedback_engine>
        </connector_automation>
        <connector_dynamic_content>
            <products>
                <related_display_type>grid</related_display_type>
                <related_items_to_display>2</related_items_to_display>
                <upsell_display_type>grid</upsell_display_type>
                <upsell_items_to_display>2</upsell_items_to_display>
                <crosssell_display_type>grid</crosssell_display_type>
                <crosssell_items_to_display>2</crosssell_items_to_display>
                <bestsellers_display_type>grid</bestsellers_display_type>
                <bestsellers_items_to_display>2</bestsellers_items_to_display>
                <bestsellers_time_period>M</bestsellers_time_period>
                <most_viewed_display_type>grid</most_viewed_display_type>
                <most_viewed_items_to_display>2</most_viewed_items_to_display>
                <most_viewed_time_period>M</most_viewed_time_period>
                <recently_viewed_display_type>grid</recently_viewed_display_type>
                <recently_viewed_items_to_display>2</recently_viewed_items_to_display>
                <review_display_type>grid</review_display_type>
                <wishlist_display_type>grid</wishlist_display_type>
            </products>
            <external_dynamic_content_urls>
                <passcode></passcode>
                <lost_basket_url></lost_basket_url>
                <review_url></review_url>
                <coupon_code_url></coupon_code_url>
                <dynamic_content_url></dynamic_content_url>
                <related_products_url></related_products_url>
                <upsell_products_url></upsell_products_url>
                <crosssell_products_url></crosssell_products_url>
                <best_sellers_url></best_sellers_url>
                <most_viewed_url></most_viewed_url>
                <product_push_url></product_push_url>
                <recently_viewed_url></recently_viewed_url>
                <new_order_url></new_order_url>
                <new_order_guest_url></new_order_guest_url>
                <order_update_url></order_update_url>
                <order_update_guest_url></order_update_guest_url>
                <new_invoice_url></new_invoice_url>
                <new_invoice_guest_url></new_invoice_guest_url>
                <invoice_update_url></invoice_update_url>
                <invoice_update_guest_url></invoice_update_guest_url>
                <new_creditmemo_url></new_creditmemo_url>
                <new_creditmemo_guest_url></new_creditmemo_guest_url>
                <creditmemo_update_url></creditmemo_update_url>
                <creditmemo_update_guest_url></creditmemo_update_guest_url>
                <new_shipment_url></new_shipment_url>
                <new_shipment_guest_url></new_shipment_guest_url>
                <shipment_update_url></shipment_update_url>
                <shipment_update_guest_url></shipment_update_guest_url>
                <wishlist_url></wishlist_url>
            </external_dynamic_content_urls>
            <manual_product_push>
                <display_type>list</display_type>
                <items_to_display>2</items_to_display>
                <products_push_items></products_push_items>
            </manual_product_push>
            <fallback_products>
                <product_list></product_list>
            </fallback_products>
        </connector_dynamic_content>
        <transactional_emails>
            <ddg_transactional>
                <enabled>0</enabled>
                <password backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
            </ddg_transactional>
        </transactional_emails>
        <connector_configuration>
            <data_fields>
                <order_status>complete,pending</order_status>
                <brand_attribute>manufacturer</brand_attribute>
            </data_fields>
            <transactional_data>
                <order_statuses>complete,pending</order_statuses>
                <order_custom_attributes>0</order_custom_attributes>
                <order_product_attributes>0</order_product_attributes>
                <order_product_custom_options>0</order_product_custom_options>
            </transactional_data>
            <abandoned_carts>
                <email_capture>0</email_capture>
                <limits></limits>
                <email_capture_newsletter>0</email_capture_newsletter>
                <link_enabled>0</link_enabled>
                <link_text></link_text>
                <cart_url></cart_url>
                <login_url></login_url>
                <allow_non_subscribers>0</allow_non_subscribers>
                <expire_time>24</expire_time>
            </abandoned_carts>
            <tracking>
                <integration_insights>1</integration_insights>
                <roi_enabled>1</roi_enabled>
                <page_enabled>1</page_enabled>
                <script_version>0</script_version>
            </tracking>
            <consent>
                <dotmailer_consent_subscriber_enabled>0</dotmailer_consent_subscriber_enabled>
                <dotmailer_consent_subscriber_text></dotmailer_consent_subscriber_text>
                <dotmailer_consent_customer_text></dotmailer_consent_customer_text>
            </consent>
            <dynamic_content_style>
                <dynamic_styling><![CDATA[table{font-family: Arial, Helvetica, sans-serif; font-size:12px;}]]></dynamic_styling>
                <font_color><![CDATA[#000000]]></font_color>
                <font_size><![CDATA[12px]]></font_size>
                <font_style>0</font_style>
                <price_color><![CDATA[#000000]]></price_color>
                <price_font_size><![CDATA[12px]]></price_font_size>
                <price_font_style>0</price_font_style>
                <product_link_color><![CDATA[#000000]]></product_link_color>
                <product_link_font_size><![CDATA[12px]]></product_link_font_size>
                <product_link_style>0</product_link_style>
                <font><![CDATA[Arial, Helvetica, sans-serif;]]></font>
                <color><![CDATA[#FFFFFF]]></color>
                <other_color><![CDATA[#000000]]></other_color>
                <other_font_size><![CDATA[12px]]></other_font_size>
                <other_font_style>0</other_font_style>
                <coupon_font_color><![CDATA[#000000]]></coupon_font_color>
                <coupon_font_size><![CDATA[14px]]></coupon_font_size>
                <coupon_font_style>0</coupon_font_style>
                <coupon_font_picker><![CDATA[Arial, Helvetica, sans-serif]]></coupon_font_picker>
                <coupon_background_color><![CDATA[#FFFFFF]]></coupon_background_color>
            </dynamic_content_style>
            <dynamic_content>
                <link_text></link_text>
            </dynamic_content>
            <admin>
                <disable_newsletter_success>0</disable_newsletter_success>
                <disable_customer_success>0</disable_customer_success>
            </admin>
            <catalog_sync>
                <catalog_values>1</catalog_values>
                <catalog_visibility>0</catalog_visibility>
                <catalog_type>0</catalog_type>
            </catalog_sync>
            <customer_addressbook>
                <show_preferences>0</show_preferences>
                <can_change>0</can_change>
                <show_books>0</show_books>
                <can_show_fields>0</can_show_fields>
                <fields_to_show>0</fields_to_show>
            </customer_addressbook>
        </connector_configuration>
        <connector_data_mapping>
            <customer_data>
                <customer_id></customer_id>
                <firstname></firstname>
                <lastname></lastname>
                <dob></dob>
                <gender></gender>
                <website_name></website_name>
                <store_name></store_name>
                <created_at></created_at>
                <last_logged_date></last_logged_date>
                <customer_group></customer_group>
                <review_count></review_count>
                <last_review_date></last_review_date>
                <subscriber_status></subscriber_status>
                <billing_address_1></billing_address_1>
                <billing_address_2></billing_address_2>
                <billing_city></billing_city>
                <billing_state></billing_state>
                <billing_country></billing_country>
                <billing_postcode></billing_postcode>
                <billing_telephone></billing_telephone>
                <delivery_address_1></delivery_address_1>
                <delivery_address_2></delivery_address_2>
                <delivery_city></delivery_city>
                <delivery_state></delivery_state>
                <delivery_country></delivery_country>
                <delivery_postcode></delivery_postcode>
                <delivery_telephone></delivery_telephone>
                <number_of_orders></number_of_orders>
                <average_order_value></average_order_value>
                <total_spend></total_spend>
                <last_order_date></last_order_date>
                <last_order_id></last_order_id>
                <total_refund></total_refund>
                <most_purchased_category></most_purchased_category>
                <most_purchased_brand></most_purchased_brand>
                <most_frequent_purchase_day></most_frequent_purchase_day>
                <most_frequent_purchase_month></most_frequent_purchase_month>
                <first_category_purchased></first_category_purchased>
                <last_category_purchased></last_category_purchased>
                <first_brand_purchased></first_brand_purchased>
                <last_brand_purchased></last_brand_purchased>
                <custom_attributes></custom_attributes>
                <validator></validator>
                <last_increment_id></last_increment_id>
                <billing_company></billing_company>
                <delivery_company></delivery_company>
            </customer_data>
            <dynamic_datafield>
                <datafield_name></datafield_name>
                <datafield_type></datafield_type>
                <datafield_default></datafield_default>
                <datafield_access></datafield_access>
            </dynamic_datafield>
        </connector_data_mapping>
        <connector_developer_settings>
            <import_settings>
                <batch_size>500</batch_size>
                <transactional_data>50</transactional_data>
                <importer_bulk_limit>1</importer_bulk_limit>
                <subscriber_sales_data_enabled>0</subscriber_sales_data_enabled>
                <strip_pub_from_media_paths>0</strip_pub_from_media_paths>
            </import_settings>
            <sync_settings>
                <setup_data_fields></setup_data_fields>
                <contact_sync></contact_sync>
                <subscriber_sync></subscriber_sync>
                <order_sync></order_sync>
                <delete_contact></delete_contact>
                <reimport_customers></reimport_customers>
                <reimport_subscribers></reimport_subscribers>
                <reimport_orders></reimport_orders>
                <suppressed_contacts></suppressed_contacts>
            </sync_settings>
            <debug>
                <debug_enabled>1</debug_enabled>
                <api_log_time>60</api_log_time>
            </debug>
            <oauth>
                <client_id></client_id>
                <client_key></client_key>
                <test_connect></test_connect>
            </oauth>
            <ip_restriction>
                <ip_addresses>104.208.235.109, 52.174.92.164, 104.210.118.87, 89.197.25.33</ip_addresses>
            </ip_restriction>
            <cron_schedules>
                <importer>*/5 * * * *</importer>
                <contact>*/15 * * * *</contact>
                <order>*/15 * * * *</order>
                <catalog>*/15 * * * *</catalog>
                <review_wishlist>*/15 * * * *</review_wishlist>
            </cron_schedules>
        </connector_developer_settings>
    </default>
</config>
