<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="customer_save_after">
        <observer name="ddg_customer_save_after" instance="Dotdigitalgroup\Email\Model\Customer\Observer" method="handleCustomerSaveAfter" />
    </event>
    <event name="newsletter_subscriber_save_after">
        <observer name="ddg_contact_change_subscription" instance="Dotdigitalgroup\Email\Model\Newsletter\Observer" method="handleNewsletterSubscriberSave" />
    </event>
    <event name="sales_order_place_after">
        <observer name="ddg_order_place_order" instance="Dotdigitalgroup\Email\Model\Sales\Observer" method="handleSalesOrderPlaceAfter" />
    </event>
    <event name="sales_order_save_before">
        <observer name="ddg_order_save_before" instance="Dotdigitalgroup\Email\Model\Sales\Observer" method="handleSalesOrderSaveBefore" />
    </event>
    <event name="sales_order_save_after">
        <observer name="ddg_order_save_after" instance="Dotdigitalgroup\Email\Model\Sales\Observer" method="handleSalesOrderSaveAfter" />
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="ddg_reset_contact" instance="Dotdigitalgroup\Email\Model\Sales\Observer" method="handleSalesOrderRefund" />
    </event>
    <event name="order_cancel_after">
        <observer name="ddg_remove_trans_order" instance="Dotdigitalgroup\Email\Model\Sales\Observer" method="hangleSalesOrderCancel" />
    </event>
    <event name="review_save_after">
        <observer name="ddg_save_review" instance="Dotdigitalgroup\Email\Model\Customer\Observer" method="reviewSaveAfter" />
    </event>
    <event name="model_save_before">
        <observer name="ddg_new_wishlist" instance="Dotdigitalgroup\Email\Model\Customer\Observer" method="wishlistSaveAfter" />
    </event>
    <event name="wishlist_item_save_after">
        <observer name="ddg_wishlist_save_item" instance="Dotdigitalgroup\Email\Model\Customer\Observer" method="wishlistItemSaveAfter" />
    </event>
    <event name="wishlist_delete_after">
        <observer name="ddg_wishlist_delete" instance="Dotdigitalgroup\Email\Model\Customer\Observer" method="wishlistDeleteAfter" />
    </event>
    <event name="wishlist_item_delete_after">
        <observer name="ddg_wishlist_item_delete" instance="Dotdigitalgroup\Email\Model\Customer\Observer" method="wishlistItemSaveAfter" />
    </event>
    <event name="sales_convert_quote_to_order">
        <observer name="ddg_delete_quote" instance="Dotdigitalgroup\Email\Model\Sales\Observer" method="handleQuoteToOrder" />
    </event>
    <event name="sales_quote_save_after">
        <observer name="ddg_remove_or_create" instance="Dotdigitalgroup\Email\Model\Sales\Observer" method="handleQuoteSaveAfter" />
    </event>
    <event name="core_config_data_save_before">
        <observer name="ddg_config_save_before" instance="Dotdigitalgroup\Email\Model\Catalog\Observer" method="handleConfigSaveBefore" />
    </event>
    <event name="core_config_data_save_after">
        <observer name="ddg_config_save_after" instance="Dotdigitalgroup\Email\Model\Catalog\Observer" method="handleConfigSaveAfter" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="ddg_catalog_product_save_after" instance="Dotdigitalgroup\Email\Model\Catalog\Observer" method="handleProductSaveAfter" />
    </event>
    <event name="catalog_product_delete_after">
        <observer name="ddg_catalog_product_delete_after" instance="Dotdigitalgroup\Email\Model\Catalog\Observer" method="handleProductDeleteAfter" />
    </event>
</config>
