<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_after">
        <observer name="dotdigitalgroup_create_update_contact" instance="Dotdigitalgroup\Email\Observer\Customer\CreateUpdateContact"/>
    </event>
    <event name="review_save_after">
        <observer name="ddg_save_review" instance="Dotdigitalgroup\Email\Observer\Customer\ReviewSaveAutomation"/>
    </event>
    <event name="wishlist_add_product">
        <observer name="ddg_add_product_wishlist" instance="Dotdigitalgroup\Email\Observer\Customer\RegisterWishlist"/>
    </event>
    <event name="wishlist_delete_after">
        <observer name="ddg_wishlist_delete" instance="Dotdigitalgroup\Email\Observer\Customer\RemoveWishlist"/>
    </event>
    <event name="wishlist_item_delete_after">
        <observer name="ddg_wishlist_item_delete" instance="Dotdigitalgroup\Email\Observer\Customer\RemoveWishlistItem"/>
    </event>
    <event name="sales_order_place_after">
        <observer name="ddg_sales_order_place_after" instance="Dotdigitalgroup\Email\Observer\Sales\OrderPlaceAfter"/>
    </event>
    <event name="sales_order_save_before">
        <observer name="ddg_sales_order_save_before" instance="Dotdigitalgroup\Email\Observer\Sales\OrderSaveBefore"/>
    </event>
    <event name="sales_order_save_after">
        <observer name="ddg_sales_order_save_after" instance="Dotdigitalgroup\Email\Observer\Sales\OrderSaveAfter"/>
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="ddg_sales_order_creditmemo_save_after" instance="Dotdigitalgroup\Email\Observer\Sales\OrderCreditmemoSaveAfter" />
    </event>
    <event name="order_cancel_after">
        <observer name="ddg_order_cancel_after" instance="Dotdigitalgroup\Email\Observer\Order\CancelAfter"/>
    </event>
    <event name="catalog_product_save_after">
        <observer name="ddg_catalog_product_save_after" instance="Dotdigitalgroup\Email\Observer\Catalog\ReimportProduct"/>
    </event>
    <event name="catalog_product_delete_before">
        <observer name="ddg_catalog_product_delete_before" instance="Dotdigitalgroup\Email\Observer\Catalog\RemoveProduct"/>
    </event>
    <event name="newsletter_subscriber_save_after">
        <observer name="dotdigitalgroup_change_contact_subscription" instance="Dotdigitalgroup\Email\Observer\Newsletter\ChangeContactSubscription"/>
    </event>
    <event name="newsletter_subscriber_delete_after">
        <observer name="dotdigitalgroup_subscriber_delete" instance="Dotdigitalgroup\Email\Observer\Customer\RemoveContact"/>
    </event>
    <event name="customer_delete_after">
        <observer name="ddg_remove_contact" instance="Dotdigitalgroup\Email\Observer\Customer\RemoveContact"/>
    </event>
</config>
