<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Dotdigitalgroup_Email" setup_version="2.1.1">
        <sequence>
            <module name="Magento_Customer"/>
            <module name="Magento_Wishlist"/>
            <module name="Magento_Newsletter"/>
            <module name="Magento_Review"/>
        </sequence>
    </module>
</config>
