<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="ddg_customer_register_success" instance="Dotdigitalgroup\Email\Observer\Customer\NewAutomation"/>
    </event>
    <event name="newsletter_subscriber_save_after">
        <observer name="ddg_observer_subscriber_save_after" instance="Dotdigitalgroup\Email\Observer\Newsletter\NewsletterSubscriberSaveAfter"/>
    </event>
    <event name="customer_login">
        <observer name="customer_login_observer" instance="Dotdigitalgroup\Email\Observer\Customer\CustomerLogin" />
    </event>
</config>
