<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_connector_api_credentials">
        <observer name="admin_connector_api_credentials" instance="Dotdigitalgroup\Email\Observer\Adminhtml\ApiValidate" />
    </event>
    <event name="admin_system_config_changed_section_connector">
        <observer name="admin_connector_api_endpoint" instance="Dotdigitalgroup\Email\Observer\Adminhtml\ApiEndpointValidate"/>
    </event>
    <event name="admin_system_config_changed_section_connector_data_mapping">
        <observer name="admin_connector_data_mapping" instance="Dotdigitalgroup\Email\Observer\Adminhtml\ResetContactImport"/>
    </event>
    <event name="admin_system_config_changed_section_transactional_emails">
        <observer name="admin_connector_transactional_emails" instance="Dotdigitalgroup\Email\Observer\Adminhtml\TransactionalEmails"/>
    </event>
    <event name="view_block_abstract_to_html_before">
        <observer name="ddg_add_column_expiration_date" instance="Dotdigitalgroup\Email\Observer\Html\BeforeBlockToHtml"/>
    </event>
    <event name="admin_system_config_changed_section_connector_configuration">
        <observer name="admin_connector_image_types" instance="Dotdigitalgroup\Email\Observer\Adminhtml\ImageTypes"/>
    </event>
    <event name="catalog_product_import_bunch_save_after">
        <observer name="ddg_catalog_product_import_bunch_save_after" instance="Dotdigitalgroup\Email\Observer\Catalog\ReimportBunch"/>
    </event>
</config>
