<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Dotdigitalgroup_Email::marketing_automation" title="Marketing Automation" module="Dotdigitalgroup_Email" sortOrder="100" parent="Magento_Backend::marketing" resource="Dotdigitalgroup_Email::contact"/>
        <add id="Dotdigitalgroup_Email::dashboard" title="Dashboard" module="Dotdigitalgroup_Email" sortOrder="110" action="ddg_automation/dashboard" resource="Dotdigitalgroup_Email::dashboard" parent="Dotdigitalgroup_Email::marketing_automation" />
        <add id="Dotdigitalgroup_Email::automation_studio" title="Automation Studio" module="Dotdigitalgroup_Email" sortOrder="120" action="ddg_automation/studio" resource="Dotdigitalgroup_Email::studio" parent="Dotdigitalgroup_Email::marketing_automation" />
        <add id="Dotdigitalgroup_Email::reports" title="Reports" module="Dotdigitalgroup_Email" sortOrder="130" action="ddg_automation/reports" resource="Dotdigitalgroup_Email::reports" parent="Dotdigitalgroup_Email::marketing_automation" />
        <add id="Dotdigitalgroup_Email::contact" title="Contact Report" module="Dotdigitalgroup_Email" sortOrder="140" action="dotdigitalgroup_email/contact" resource="Dotdigitalgroup_Email::contact" parent="Dotdigitalgroup_Email::reports" />
        <add id="Dotdigitalgroup_Email::order" title="Order Report" module="Dotdigitalgroup_Email" sortOrder="150" action="dotdigitalgroup_email/order" resource="Dotdigitalgroup_Email::reports" parent="Dotdigitalgroup_Email::reports" />
        <add id="Dotdigitalgroup_Email::quote" title="Quote Report" module="Dotdigitalgroup_Email" sortOrder="160" action="dotdigitalgroup_email/quote" resource="Dotdigitalgroup_Email::reports" parent="Dotdigitalgroup_Email::reports" />
        <add id="Dotdigitalgroup_Email::review" title="Review Report" module="Dotdigitalgroup_Email" sortOrder="170" action="dotdigitalgroup_email/review" resource="Dotdigitalgroup_Email::review" parent="Dotdigitalgroup_Email::reports" />
        <add id="Dotdigitalgroup_Email::wishlist" title="Wishlist Report" module="Dotdigitalgroup_Email" sortOrder="180" action="dotdigitalgroup_email/wishlist" resource="Dotdigitalgroup_Email::wishlist" parent="Dotdigitalgroup_Email::reports" />
        <add id="Dotdigitalgroup_Email::catalog" title="Catalog Report" module="Dotdigitalgroup_Email" sortOrder="190" action="dotdigitalgroup_email/catalog" resource="Dotdigitalgroup_Email::catalog" parent="Dotdigitalgroup_Email::reports" />
        <add id="Dotdigitalgroup_Email::configuration" title="Configuration" module="Dotdigitalgroup_Email" sortOrder="140" action="system_config/index" resource="Dotdigitalgroup_Email::configuration" parent="Dotdigitalgroup_Email::marketing_automation" />
    </menu>
</config>
